.quizContainer {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}
.main {
    width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 50px;
  /* background-color: blueviolet; */
  border-radius: 10px;
  border-right: 1px solid black ;
}
.quizSidebar{
    width: 30%;
    height: 100%;
    background-color: aliceblue;
}
.quizContainer .heading {
  padding-bottom: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}
.quizContainer .question {
  background-color: rgb(8, 39, 29);
  padding: 15px 5px;
  font-size: larger;
}
.quizContainer .option {
  background-color: aliceblue;
}
.quizContainer .option .optionbtn {
  padding-left: 5px;
  padding-top: 2px;
  height: 50px;
  /* width: 1003px; */
  width: 100%;
  font-size: large;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid rgb(192, 192, 192);
}

.quizContainer .btn {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  padding: 5px;
}
 .quizContainer .option .optionbtn:hover {
  /* background-color: rgb(109, 109, 215); */
  border: 1px solid #8cf108;
  cursor: pointer;
  color: black;
}
.checked {
  background-color: blue;
  color: white;
  box-shadow: 2px;
}
@media only screen and (max-width: 768px) {
    .quizContainer{
        flex-direction: column;
    }
  .quizContainer .heading {
    flex-direction: column;
  }
  .main{
    width: 100%;
  }
  .quizSidebar{
    width: 100%;
  }
}
