footer{
    background-color: lightslategrey;
    height: 137px;
   
}
.footer{
    display: flex;
    justify-content:space-around;
    padding: 2px 0px;
}
.footer ul li{
    list-style: none;
}
.footer ul li b{
    font-size: larger;
}
footer .copyright{
    background-color: rgb(120, 117, 117);
    text-align: center;
    padding: 2px;
}
@media only screen and (max-width:600px){
    footer{
        display: flex;
        flex-direction: column;
        /* padding: 5px; */
    }
    /* .copyright{
        padding: 5px 0px;
        margin: 2px;
    } */
}