.btn{
    padding: 5px 30px;
    margin-top: 5px;
    background-color: rgba(26, 87, 178, 0.935);
    border-radius: 5px;
    color: rgb(251, 251, 251);
    font-weight: bold;
    font-size: medium;
    border-style: none;

}
.btn:hover{
    cursor: pointer;
    background-color: rgb(13, 124, 13);
    color: white;
    
}